/* Flexbox Container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
}

/* Flexbox Items */
.item {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    margin: 5px;
}